.cuisine{:style => "color: #{restaurant.color}"}= restaurant.icon
.div
  %span.lead= restaurant.name
.div
  %p
    %span= restaurant.type.capitalize
    %small.stars
      - restaurant.stars.times do
        %i.fa.fa-star
- if restaurant.where.present?
  .div
    %strong Where:
    %span= restaurant.where
- if restaurant.dish.present?
  .div
    %strong Recommended Dish:
    %span= restaurant.dish