.cuisine{:style => "color: #{restaurant.color}"}= restaurant.icon
.div
  %small.stars
    - restaurant.stars.times do
      %i.fa.fa-star
.div
  %span.lead= restaurant.name
  %span (#{restaurant.type})
- if restaurant.where.present?
  .div
    %strong Where:
    %span= restaurant.where
- if restaurant.dish.present?
  .div
    %strong Recommended Dish:
    %span= restaurant.dish